    <nav class='navbar'>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink='/counter' routerLinkActive='active' class='nav-link'>
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fad"
                      data-icon="Saturn Pink"
                      role="img"
                      xmlns="http://www.w3.org/2000/xlink"
                      viewBox="0 0 297.002 297.002"
                      class="svg-inline--fa fa-cat fa-w-16 fa-9x"
                    >
                      <g class="fa-group">
                        <path
                          fill="currentColor"
                          d="M295.264,79.642c-6.534-13.869-26.596-12.784-33.193-12.433c-12.964,0.698-30.113,4.121-49.695,9.899
                          c-10.395-10.111-23.831-17.347-39.254-20.931c-21.537-5.004-44.589-2.49-64.913,7.088c-20.324,9.575-36.942,25.749-46.794,45.544
                          c-7.055,14.175-10.029,29.143-8.851,43.597c-16.925,11.422-30.484,22.468-39.275,32.019c-4.472,4.858-18.079,19.642-11.544,33.512
                          c3.947,8.377,13.336,12.549,28.449,12.549c9.027,0,20.098-1.489,33.271-4.457c7.192-1.621,14.831-3.649,22.807-6.038
                          c17.591,15.361,39.791,23.348,62.236,23.348c13.668,0,27.427-2.961,40.291-9.022c33.988-16.013,55.267-50.62,54.23-88.18
                          c6.922-4.631,13.347-9.23,19.177-13.745C290.757,110.279,301.57,93.025,295.264,79.642z M116.675,81.231
                          c11.069-5.216,22.863-7.693,34.296-7.693c23.678,0,45.805,10.626,56.725,29.555c0.122,0.218,0.306,0.601,0.535,1.104
                          c-17.584,12.062-39.933,24.648-63.821,35.903c-23.884,11.253-47.82,20.474-68.32,26.355c-0.235-0.482-0.411-0.865-0.504-1.106
                          C64.25,134.983,82.681,97.247,116.675,81.231z M180.336,216.348c-23.057,10.863-49.744,9.111-70.984-3.957
                          c18.437-6.571,38.033-14.681,57.811-24c19.771-9.315,38.512-19.257,55.313-29.287
                          C219.026,183.797,203.386,205.486,180.336,216.348z M245.847,119.872c-22.46,16.702-53.41,34.654-87.149,50.551
                          c-33.74,15.896-67.288,28.333-94.467,35.019c-28.543,7.021-40.88,5.451-44.217,3.887c1.031-3.984,9.198-16.234,37.341-36.102
                          c1.289,3.011,3.9,7.729,5.049,9.768c1.79,3.175,5.129,5.055,8.65,5.055c0.819,0,1.649-0.102,2.47-0.312
                          c23.209-5.958,51.39-16.494,79.351-29.669c27.966-13.175,54.033-28.198,73.398-42.299c3.631-2.645,5.035-7.398,3.424-11.591
                          c-0.839-2.186-2.815-7.205-4.316-10.118c33.239-9.052,47.887-7.551,51.614-5.81C276.077,91.82,269.436,102.33,245.847,119.872z"
                          class="fa-secondary"
                        ></path>
                      </g>
                    </svg>
                    <span class="link-text">Counter</span>
                  </a>
                </li>

                <li class="nav-item">
                  <a routerLink='/music' routerLinkActive='active' class='nav-link'>
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fad"
                        data-icon="Groove-disc"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 496 512"
                        class="svg-inline--fa fa-compact disc fa-w-16"
                      >
                        <g class="fa-group">
                          <path
                            fill="currentColor"
                            d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zM88 256H56c0-105.9 86.1-192 192-192v32c-88.2 0-160 71.8-160 160zm160 96c-53 0-96-43-96-96s43-96 96-96 96 43 96 96-43 96-96 96zm0-128c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32z"
                            class="fa-secondary"
                          ></path>
                        </g>
                      </svg>
                      <span class="link-text">Music</span>
                    </a>

                  </li>

                  <li class="nav-item">
                    <a routerLink='/' routerLinkActive='active' class='nav-link'>
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fad"
                        data-icon="user-circle"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 496 512"
                        class="svg-inline--fa fa-user-circle fa-w-16"
                      >
                        <g class="fa-group">
                          <path
                            fill="currentColor"
                            d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"

                            class="fa-secondary"
                          ></path>
                        </g>
                      </svg>
                      <span class="link-text">About</span>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a routerLink='/' routerLinkActive='active' class='nav-link'>
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fad"
                        data-icon="heart"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        class="svg-inline--fa fa-heart fa-w-16"
                      >
                        <g class="fa-group">
                          <path
                            fill="currentColor"
                            d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"
                            class="fa-secondary"
                          ></path>
                        </g>
                      </svg>
                      <span class="link-text">Cal Cares</span>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a routerLink='/' routerLinkActive='active' class='nav-link'>>
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fad"
                        data-icon="user-circle"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 496 512"
                        class="svg-inline--fa fa-space-station-moon-alt fa-w-16 fa-5x"
                      >
                        <g class="fa-group">
                          <path
                            fill="currentColor"
                            d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"
                            class="fa-secondary"
                          ></path>
                        </g>
                      </svg>
                      <span class="link-text">Services</span>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a routerLink='/' routerLinkActive='active' class='nav-link'>
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fad"
                        data-icon="hands-helping"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 640 512"
                        class="svg-inline--fa fa-hands-helping fa-w-20"
                      >
                        <g class="fa-group">
                          <path
                            fill="currentColor"
                            d="M488 192H336v56c0 39.7-32.3 72-72 72s-72-32.3-72-72V126.4l-64.9 39C107.8 176.9 96 197.8 96 220.2v47.3l-80 46.2C.7 322.5-4.6 342.1 4.3 357.4l80 138.6c8.8 15.3 28.4 20.5 43.7 11.7L231.4 448H368c35.3 0 64-28.7 64-64h16c17.7 0 32-14.3 32-32v-64h8c13.3 0 24-10.7 24-24v-48c0-13.3-10.7-24-24-24zm147.7-37.4L555.7 16C546.9.7 527.3-4.5 512 4.3L408.6 64H306.4c-12 0-23.7 3.4-33.9 9.7L239 94.6c-9.4 5.8-15 16.1-15 27.1V248c0 22.1 17.9 40 40 40s40-17.9 40-40v-88h184c30.9 0 56 25.1 56 56v28.5l80-46.2c15.3-8.9 20.5-28.4 11.7-43.7z"
                            class="fa-secondary"
                          ></path>
                        </g>
                      </svg>
                      <span class="link-text">Donate</span>
                    </a>
                  </li>
        </ul>

    </nav>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main>
<router-outlet></router-outlet>
</main>
